* {
	padding: 0;
	margin: 0;
}

html {
	background-color: #ccc;
	font-size: 125%;
}

.hidden {
	display: none;
}

#game {
	margin-left: 5rem;
	margin-top: 5rem;
	box-sizing: border-box;
	width: 25rem;
	height: 10rem;
	border-bottom:  3px solid black;
	position: relative;
	background-color: #fff;
	overflow: hidden;
}

#character {
	width: 20px;
	height: 50px;
	background-color: red;
	position: absolute; /*position lässt Objekte frei positionierenm. relative lässt Objekt trotzdem noch bewegen*/
	bottom: 0;
	left: 20px;
}

#game.running .animate { /*animationsklasse*/
	animation: jump 300ms;
}

@keyframes jump {
	0%{top: 150px}
	10%{top: 100px;}
	70%{top: 100px;}
	100%{top: 150px;}
}

.block {
	width: 1rem;
	height: 1rem;
	background-color: gray;
	position: absolute;
	bottom: 0;
	left: 25rem;
}

.block1 { background-color: blue; animation-duration: 1.25s; }
.block2 { background-color: purple; animation-duration: 2s; }
.block3 { background-color: orange; animation-duration: 0.75s; }

#game.running .block {
	/*animation: block 1s infinite linear;*/ /*wiederholt 1s lange Animation unendlich*/
	animation-name: block;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes block { /*Name der Animation*/
	0% { left: 480px; } /*Beginn der Animation*/
	100% { left: -2rem; } /*Ende der Animation*/
}
